{% extends "meals/base.html" %}
{% block content %}
    {% if type == "latest" %}
        <h2> List of most recent meals <h2>
    {% elif type == "restaurant" %}
        {% if restaurant_name %}
            <h2> List of dishes eaten at {{ restaurant_name }} </h2>
        {% else %}
            <h2> List of meals </h2>
        {% endif %}
    {% else %}
        <h2> List of meals </h2>
    {% endif %}
    {% if meal_list %}
        <ul>
        {% for meal in meal_list %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'meals:restaurant' meal.id %}">{{ meal.restaurant_name_text }}</a>
                    <small class="text-muted">{{ meal.date }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'meals:detail'  meal.id %}">{{ meal.entree_choice_text }}</a></h2>
                <p class="article-content">{{ meal.entree_rating }} / 100</p>
                </div>
            </article>
        {% endfor %}
        </ul>
    {% else %}
        <p>No meals have been logged.</p>
    {% endif %}
{% endblock content %}