body {
  background: #FFE79A; /* Background color: Yellowish-Orange */
  color: #333333; /* Text color: Dark gray */
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #FF8C42; /* Heading text color: Bright Orange */
}

.bg-steel {
  background-color: #FF8C42; /* Background color for elements with class 'bg-steel': Bright Orange */
}

.site-header .navbar-nav .nav-link {
  color: #FFD166; /* Navbar link text color: Light Yellow */
}

.site-header .navbar-nav .nav-link:hover {
  color: #FFE79A; /* Navbar link text color on hover: Yellowish-Orange */
}
  
  ul {
    margin: 0;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #0d7006;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .mr-2 {
    color: #0d7006;
  }

  .btn-outline-info {
    background: #0d7006;
    color: #000000;
  }

  .btn-info {
    background: #FFD166;
    color: #000000;
  }

  .btn-outline-info:hover {
    background: #64b55e;
    color: #000000;
  }

  .btn-info:hover {
    background: #FFE79A;
    color: #000000;
  }

  /* CSS for the star rating container */
  .star-rating {
    display: inline-block;
    font-size: 24px; /* Adjust the font size as needed */
  }

  /* CSS for the individual star elements */
  .star-rating .star {
    color: #FFD700; /* Star color: Gold */
  }

  /* CSS for empty stars (if needed) */
  .star-rating .empty-star {
    color: #ccc; /* Empty star color: Light Gray */
  }
